@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline tas bort, okänd at-rule */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  color: var(--foreground);
  font-family: 'Libre Baskerville', serif;
}

h1, h2, h3, .font-heading {
  font-family: 'Playfair Display', serif;
}
